<!-- Navigation
    ==========================================-->
<nav id="menu" class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
            <a class="navbar-brand gdg-recruit-navbar-brand" href="{{ url_for('recruits_201601.recruit_index') }}">
                {#                <i class="fa fa-flag-checkered fa-flip-horizontal"></i> Tempo<strong></strong>#}
                <div class="logo logo-light"></div>
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#home" class="page-scroll">Home</a></li>
                <li><a href="#recruitment-section" class="page-scroll">모집 분야</a></li>
                <li><a href="#portfolio-section" class="page-scroll">포트폴리오</a></li>
                <li><a href="#about-section" class="page-scroll">동아리 소개</a></li>

                <li><a href="#member-section" class="page-scroll">멤버</a></li>
                <li><a href="#ourmemory-section" class="page-scroll">우리의 추억</a></li>
                <li><a href="">지원하기</a></li>

            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>