.gdg-article-base-wrap{
    width:100%;
}
.gdg-contents-base-wrap{
    margin-top:131px;
}
div.divider{
    height: 1px;
    background-color: #e5e5e5;
    overflow:hidden;
    margin: 9px auto;
    width:100%;
}
.form-content{
    margin:20px auto;
}

/* members css begin */
.members-header .header-image{
    width: 100%;
    height: 400px;
}