.gdg-article-base-wrap{
    width:100%;
}
.gdg-contents-base-wrap{
    margin-top:131px;
}
div.divider{
    height: 1px;
    background-color: #e5e5e5;
    overflow:hidden;
    margin: 9px auto;
    width:100%;
}
.form-content{
    margin:20px auto;
}

/**
    members css begin - by Junsu
*/
.members-header{
    margin-bottom: 20px;
}
.members-header .header-image{
    width: 100%;
    height: 350px;
}
.members-label{
    margin-bottom: 50px;
    text-align: center;
}
.members-row-developer{
    background-image: url("/static/images/default-members-developer.gif");
    padding-top: 20px;

}
.members-row-designer{
    background-image: url("/static/images/default-members-designer.gif");
    padding-top: 20px;

}
.members-row-planner{
    background-image: url("/static/images/default-members-planner.jpg");
    padding-top: 20px;

}
.members-row-developer .panel, .members-row-developer .panel-heading{
    background: none;
    border: none;
}
/**
    members css end - by Junsu
*/


/*intro css begin*/
.intro-header{
    /*margin-left:120px;*/
    font-size:50px;
    color:darkgreen;
}
.intro-invite{
    border:1px solid #cccccc;
    height:800px;
    width:800px;
}
.intro-image{
    background-image: url("/static/images/intro-background.png") ;
    width:798px;
    height:400px;
}
.intro-contents{
    padding: 100px 0 0 50px;
    font-size:20px;
    color: white;
}
.intro-history{
    /*margin-left:920px;*/
    border:1px solid #777777;
    width:50px;
    height:50px;
}
