{% extends "gdg-base/layout.html" %}
{% block article %}
    <div class="members-header">
        <img class="header-image" src="{{ url_for('static',filename="images/default-header-img.jpg") }}" alt="">
    </div>
    <div class="container">
        <div class="intro-header-text" style="margin-left:80px">GDG SSU?</div>
        <div class="row">
            <div class="col-lg-8">
                <div class="intro-invite-frame">
                    <img class="intro-image" src = "{{ url_for('static',filename="images/intro-background.png")}}" alt="" name="aaa">
                    <!--<div class="intro-image">
                        <p class="intro-contents-text">소개내용</p>
                    </div>-->
                </div>
            </div>
            <div class="col-lg-4" style="margin:auto">
                <div class="intro-buttons-frame" style="visibility: visible; animation-name: fadeInDown;">
                    <button type="button" class="btn btn-success btn-lg intro-button" onmouseover="aaa.src='/static/images/intro-background.png'">GDG SSU?</button>
                    <button type="button" class="btn btn-success btn-lg intro-button" onmouseover="aaa.src='/static/images/mission_img.png'">Mission</button>
                    <button type="button" class="btn btn-success btn-lg intro-button" onmouseover="aaa.src='/static/images/howmany_img.png'">How many?</button>
                    <button type="button" class="btn btn-success btn-lg intro-button" onmouseover="aaa.src='/static/images/withwho_img.png'">With who?</button>
                    <button type="button" class="btn btn-success btn-lg intro-button" onmouseover="aaa.src='/static/images/contact_img.png'">Contact</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}