    <div id="about-section">
        <div class="container">
            <div class="section-title text-center wow fadeInDown">
                <h2><strong>About</strong> us</h2>
                <hr>
                <div class="clearfix"></div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed dapibus leo nec ornare diamcommodo nibh ante facilisis.</p>
            </div>
            <div class="row">
                <div class="col-md-6 wow fadeInLeft"> <img src="img/about.png" class="img-responsive"> </div>
                <div class="col-md-6 wow fadeInRight">
                    <h4>Who We Are</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed dapibus leo nec ornare diam. Sed commodo nibh ante facilisis bibendum dolor feugiat at. Duis sed dapibus leo nec ornare diam commodo nibh ante facilisis bibendum.</p>
                    <div class="space"></div>
                    <h4>What We Do</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed dapibus leo nec ornare diam. Sed commodo nibh ante facilisis bibendum dolor feugiat at.</p>
                    <div class="space"></div><div class="list-style">
                    <div class="row">
                        <div class="col-lg-6 col-sm-6 col-xs-12">
                            <ul>
                                <li>Lorem ipsum dolor</li>
                                <li>Consectetur adipiscing</li>
                                <li>Duis sed dapibus leo</li>
                                <li>Sed commodo nibh ante</li>
                            </ul>
                        </div>
                        <div class="col-lg-6 col-sm-6 col-xs-12">
                            <ul>
                                <li>Lorem ipsum dolor</li>
                                <li>Consectetur adipiscing</li>
                                <li>Duis sed dapibus leo</li>
                                <li>Sed commodo nibh ante</li>
                            </ul>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>