<div id="apply-section" class="text-center">
    <div class="container">
        <div class="section-title wow fadeInDown">
            <h2><strong>지원하기</strong></h2>
            <hr>
            <div class="col-md-6 col-sm-6 animated fadeInLeft visible">
                <div class="apply-tab developer ">
                    <div class="apply-tab-title">
                        <h2>
                            Developer
                        </h2>
                    </div>
                    <ul class="apply-tab-content">
                        <li>
                            단순히 학교에서 전공을 배우는 것을 넘어, 그것을 응용해 자신만의 주력 개발분야를 잡고 발전하는 학생 개발자.
                        </li>
                        <li>
                            타인의 의견을 경청하며 협업의 가치를 중요시하고, 함께 개발하며 성장하는 것에 가치를 느끼는 분
                        </li>
                        <li>
                            자신의 경험사례를 주변에 공유하는 것을 즐기고, '오픈소스'라는 문화에 관심을갖고 도전해볼 의향이 있는 분
                        </li>
                    </ul>
                    <div>
                        <a href="">
                            <button class="btn btn-block gdg-apply-btn">지원하기</button>
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-sm-6 animated fadeInRight visible">
                <div class="apply-tab designer">
                    <div class="apply-tab-title">
                        <h2>
                            Designer
                        </h2>
                    </div>
                    <ul class="apply-tab-content">
                        <li>
                            모호하고 추상적인 아이디어나 의견을 자신만의 색깔을 담아 구체적으로 나타내 볼 수 있는 분
                        </li>
                        <li>
                            자신만의 독특한 색깔을 유지하되, 타 역할군과의 커뮤니케이션을 유연하게 지켜나가며 협업 할 수 있는 분
                        </li>
                        <li>
                            개발자 그룹이지만 이곳에서도 괜찮은 아이디어를 타겟으로 PM을 맡을 수 있다는 용기를 가지고 행동하실 수 있는 분
                        </li>
                    </ul>
                    <div>
                        <a href="">
                            <button class="btn btn-block gdg-apply-btn">지원하기</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8 col-md-offset-2 wow fadeInUp apply-bottom" data-wow-delay="400ms">
            <h3>우리.. 같이 놀래?</h3>

            <div class="social">
                <ul>
                    <li><a href="https://www.facebook.com/gdgkorea" target="_blank"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="https://github.com/GDG-SSU" target="_blank"><i class="fa fa-github"></i></a></li>
                    <li><a href="https://plus.google.com/communities/101463090584658665422" target="_blank"><i class="fa fa-google"></i></a></li>
                    <li><a href="https://developers.google.com/groups/chapter/100263126816983481169/" target="_blank"><i class="fa fa-google-plus-square"></i></a></li>

                </ul>
            </div>
        </div>
    </div>
</div>