<div id="member-section" class="text-center">
    <div class="container">
        <div class="section-title wow fadeInDown">
            <h2>GDG SSU <strong>멤버</strong></h2>
            <hr>
            <div class="clearfix"></div>
            <p>우리는 GDG SSU입니다</p>
        </div>
        <div id="row">
            <div class="col-md-3 col-sm-6 team wow fadeInUp" data-wow-delay="200ms">
                <div class="thumbnail"> <img src="img/team/01.jpg" alt="..." class="img-circle team-img">
                    <div class="caption">
                        <h3>Jessica Wally</h3>
                        <p>CEO / Founder</p>
                        <ul class="list-inline">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 team wow fadeInUp" data-wow-delay="400ms">
                <div class="thumbnail"> <img src="img/team/02.jpg" alt="..." class="img-circle team-img">
                    <div class="caption">
                        <h3>Mike Sloan</h3>
                        <p>Web Designer</p>
                        <ul class="list-inline">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 team wow fadeInUp" data-wow-delay="600ms">
                <div class="thumbnail"> <img src="img/team/03.jpg" alt="..." class="img-circle team-img">
                    <div class="caption">
                        <h3>Michele Doe</h3>
                        <p>Web Designer</p>
                        <ul class="list-inline">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 team wow fadeInUp" data-wow-delay="800ms">
                <div class="thumbnail"> <img src="img/team/04.jpg" alt="..." class="img-circle team-img">
                    <div class="caption">
                        <h3>Larry Evans</h3>
                        <p>Project Manager</p>
                        <ul class="list-inline">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>