<div id="member-section" class="text-center">
    <div class="container">
        <div class="section-title wow fadeInDown">
            <h2>GDG SSU <strong>멤버</strong></h2>
            <hr>
            <div class="clearfix"></div>
            <p>우리는 GDG SSU입니다</p>
        </div>
        <div id="row">
            <div class="col-md-3 col-sm-6 team wow fadeInUp" data-wow-delay="200ms">
                <div class="thumbnail"> <img src="{{ url_for('recruits_201601.static', filename='images/member/ys_image.png') }}" alt="..." class="img-circle team-img">
                    <div class="caption">
                        <h3>신윤수</h3>
                        <p>GDG SSU 2015 Developer</p>
                        <ul class="list-inline">
                            <li><a href="https://www.facebook.com/younsoo.shin.18"><i class="fa fa-facebook"></i></a></li>
                            {#                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>#}
                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 team wow fadeInUp" data-wow-delay="400ms">
                <div class="thumbnail"> <img src="img/team/02.jpg" alt="..." class="img-circle team-img">
                    <div class="caption">
                        <h3>이가은</h3>
                        <p>GDG SSU 2016 Orgarnizer</p>
                        <ul class="list-inline">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 team wow fadeInUp" data-wow-delay="600ms">
                <div class="thumbnail"> <img src="img/team/03.jpg" alt="..." class="img-circle team-img">
                    <div class="caption">
                        <h3>강경완</h3>
                        <p>GDG SSU 2016 Orgarnizer</p>
                        <ul class="list-inline">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 team wow fadeInUp" data-wow-delay="800ms">
                <div class="thumbnail"> <img src="img/team/04.jpg" alt="..." class="img-circle team-img">
                    <div class="caption">
                        <h3>김나연</h3>
                        <p>GDG SSU 2015 Orgarnizer</p>
                        <ul class="list-inline">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div>
                <a href="" ><p style="font-size:1.2em;">더보기</p></a>
            </div>
        </div>
    </div>
</div>