<div id="ourmemory-section" class="text-center">
    <div class="container">
        <div class="section-title wow fadeInDown">
            <h2>GDG SSU <strong> 추억</strong> </h2>
            <hr>
        </div>
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div id="testimonial" class="owl-carousel owl-theme wow fadeInUp" data-wow-delay="200ms">
                    <div class="item">
                        <p>사진이 한장씩 넘어갑니다.(1)</p>
                        <p><strong>사진 제목</strong>날짜 (행사이름)</p>
                    </div>
                    <div class="item">
                        <p>사진이 한장씩 넘어갑니다.(2)</p>
                        <p><strong>사진 제목</strong>날짜 (행사이름)</p>
                    </div>
                    <div class="item">
                        <p>사진이 한장씩 넘어갑니다.(3)</p>
                        <p><strong>사진 제목</strong>날짜 (행사이름)</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>