<div id="portfolio-section" class="text-center">
    <div class="container"> <!-- Container -->
        <div class="section-title wow fadeInDown">
            <h2>GDG SSU <strong>서비스</strong></h2>
            <hr>
            <div class="clearfix"></div>
            <p>우리의 서비스</p>
        </div>
        <div class="categories">
            <ul class="cat">
                <li>
                    <ol class="type">
                        <li><a href="#" data-filter="*" class="active">All</a></li>
                        <li><a href="#" data-filter=".web">Web Design</a></li>
                        <li><a href="#" data-filter=".app">App Development</a></li>
                        <li><a href="#" data-filter=".branding">Branding</a></li>
                    </ol>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="row">
            <div class="portfolio-items">
                <div class="col-sm-6 col-md-3 col-lg-3 web">
                    <div class="portfolio-item wow fadeInUp" data-wow-delay="200ms">
                        <div class="hover-bg"> <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
                            <div class="hover-text">
                                <h4>Project Title</h4>
                                Web Design
                                <div class="clearfix"></div>
                                <i class="fa fa-plus"></i> </div>
                            <img src="img/portfolio/01.jpg" class="img-responsive" alt="Project Title"> </a> </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3 col-lg-3 app">
                    <div class="portfolio-item wow fadeInUp" data-wow-delay="400ms">
                        <div class="hover-bg"> <a href="#portfolioModal2" class="portfolio-link" data-toggle="modal">
                            <div class="hover-text">
                                <h4>Project Title</h4>
                                App Development
                                <div class="clearfix"></div>
                                <i class="fa fa-plus"></i> </div>
                            <img src="img/portfolio/02.jpg" class="img-responsive" alt="Project Title"> </a> </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3 col-lg-3 web">
                    <div class="portfolio-item wow fadeInUp" data-wow-delay="600ms">
                        <div class="hover-bg"> <a href="#portfolioModal3" class="portfolio-link" data-toggle="modal">
                            <div class="hover-text">
                                <h4>Project Title</h4>
                                Web Design
                                <div class="clearfix"></div>
                                <i class="fa fa-plus"></i> </div>
                            <img src="img/portfolio/03.jpg" class="img-responsive" alt="Project Title"> </a> </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3 col-lg-3 web">
                    <div class="portfolio-item wow fadeInUp" data-wow-delay="800ms">
                        <div class="hover-bg"> <a href="#portfolioModal4" class="portfolio-link" data-toggle="modal">
                            <div class="hover-text">
                                <h4>Project Title</h4>
                                Web Design
                                <div class="clearfix"></div>
                                <i class="fa fa-plus"></i> </div>
                            <img src="img/portfolio/04.jpg" class="img-responsive" alt="Project Title"> </a> </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3 col-lg-3 app">
                    <div class="portfolio-item wow fadeInUp" data-wow-delay="1000ms">
                        <div class="hover-bg"> <a href="#portfolioModal5" class="portfolio-link" data-toggle="modal">
                            <div class="hover-text">
                                <h4>Project Title</h4>
                                App Development
                                <div class="clearfix"></div>
                                <i class="fa fa-plus"></i> </div>
                            <img src="img/portfolio/05.jpg" class="img-responsive" alt="Project Title"> </a> </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3 col-lg-3 branding">
                    <div class="portfolio-item wow fadeInUp" data-wow-delay="1200ms">
                        <div class="hover-bg"> <a href="#portfolioModal6" class="portfolio-link" data-toggle="modal">
                            <div class="hover-text">
                                <h4>Project Title</h4>
                                Branding
                                <div class="clearfix"></div>
                                <i class="fa fa-plus"></i> </div>
                            <img src="img/portfolio/06.jpg" class="img-responsive" alt="Project Title"> </a> </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3 col-lg-3 branding app">
                    <div class="portfolio-item wow fadeInUp" data-wow-delay="1400ms">
                        <div class="hover-bg"> <a href="#portfolioModal7" class="portfolio-link" data-toggle="modal">
                            <div class="hover-text">
                                <h4>Project Title</h4>
                                App Development, Branding
                                <div class="clearfix"></div>
                                <i class="fa fa-plus"></i> </div>
                            <img src="img/portfolio/07.jpg" class="img-responsive" alt="Project Title"> </a> </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3 col-lg-3 web">
                    <div class="portfolio-item wow fadeInUp" data-wow-delay="1600ms">
                        <div class="hover-bg"> <a href="#portfolioModal8" class="portfolio-link" data-toggle="modal">
                            <div class="hover-text">
                                <h4>Project Title</h4>
                                Web Design
                                <div class="clearfix"></div>
                                <i class="fa fa-plus"></i> </div>
                            <img src="img/portfolio/08.jpg" class="img-responsive" alt="Project Title"> </a> </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>