{% extends 'base/layout.html' %}
{% block contents %}
    <!--Intro Section-->
    {% include "included/section/recruits_section.html" %}
    <!-- Portfolio Section -->
    {% include "included/section/porfolio.html" %}

     <!-- About Section -->
    {% include "included/section/about.html" %}

    <!-- Member Section -->
    {% include "included/section/member.html" %}


    <!-- Memory Section -->
    {% include "included/section/memory_section.html" %}

    <!-- Apply Section -->
    {% include "included/section/apply.html" %}



{#    <!-- Contact Section -->#}
{#    {% include "included/section/contact.html" %}#}


    <!--portfolio Modal-->
    {% include "included/portfolio_modals.html" %}

{% endblock %}

