{% extends 'base/layout.html' %}
{% block contents %}

<!-- Services Section -->
<div id="services-section" class="text-center">
    <div class="container">
        <div class="section-title wow fadeInDown">
            <h2>Our <strong>Services</strong></h2>
            <hr>
            <div class="clearfix"></div>
            <p>Lorem ipsum dolor sit amet placerat facilisis felis mi in tempus. Eleifend pellentesque natoque faucibus magna ut etiam.</p>
        </div>
        <div class="space"></div>
        <div class="row">
            <div class="col-md-3 col-sm-6 service wow fadeInUp" data-wow-delay="200ms"> <i class="fa fa-desktop"></i>
                <h4><strong>Web design</strong></h4>
                <p>Lorem ipsum dolor sit amet placerat facilisis felis mi in tempus eleifend pellentesque natoque etiam.</p>
            </div>
            <div class="col-md-3 col-sm-6 service wow fadeInUp" data-wow-delay="400ms"> <i class="fa fa-gears"></i>
                <h4><strong>App Development</strong></h4>
                <p>Lorem ipsum dolor sit amet placerat facilisis felis mi in tempus eleifend pellentesque.</p>
            </div>
            <div class="col-md-3 col-sm-6 service wow fadeInUp" data-wow-delay="600ms"> <i class="fa fa-bullhorn"></i>
                <h4><strong>Marketing</strong></h4>
                <p>Lorem ipsum dolor sit amet placerat facilisis felis mi in tempus eleifend pellentesque natoque etiam.</p>
            </div>
            <div class="col-md-3 col-sm-6 service wow fadeInUp" data-wow-delay="800ms"> <i class="fa fa-rocket"></i>
                <h4><strong>Branding</strong></h4>
                <p>Lorem ipsum dolor sit amet placerat facilisis felis mi in tempus eleifend pellentesque natoque.</p>
            </div>
        </div>
    </div>
</div>
<!-- Portfolio Section -->
<div id="works-section" class="text-center">
    <div class="container"> <!-- Container -->
        <div class="section-title wow fadeInDown">
            <h2>Our <strong>Portfolio</strong></h2>
            <hr>
            <div class="clearfix"></div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed dapibus leo nec ornare diamcommodo nibh ante facilisis.</p>
        </div>
        <div class="categories">
            <ul class="cat">
                <li>
                    <ol class="type">
                        <li><a href="#" data-filter="*" class="active">All</a></li>
                        <li><a href="#" data-filter=".web">Web Design</a></li>
                        <li><a href="#" data-filter=".app">App Development</a></li>
                        <li><a href="#" data-filter=".branding">Branding</a></li>
                    </ol>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="row">
            <div class="portfolio-items">
                <div class="col-sm-6 col-md-3 col-lg-3 web">
                    <div class="portfolio-item wow fadeInUp" data-wow-delay="200ms">
                        <div class="hover-bg"> <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
                            <div class="hover-text">
                                <h4>Project Title</h4>
                                Web Design
                                <div class="clearfix"></div>
                                <i class="fa fa-plus"></i> </div>
                            <img src="img/portfolio/01.jpg" class="img-responsive" alt="Project Title"> </a> </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3 col-lg-3 app">
                    <div class="portfolio-item wow fadeInUp" data-wow-delay="400ms">
                        <div class="hover-bg"> <a href="#portfolioModal2" class="portfolio-link" data-toggle="modal">
                            <div class="hover-text">
                                <h4>Project Title</h4>
                                App Development
                                <div class="clearfix"></div>
                                <i class="fa fa-plus"></i> </div>
                            <img src="img/portfolio/02.jpg" class="img-responsive" alt="Project Title"> </a> </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3 col-lg-3 web">
                    <div class="portfolio-item wow fadeInUp" data-wow-delay="600ms">
                        <div class="hover-bg"> <a href="#portfolioModal3" class="portfolio-link" data-toggle="modal">
                            <div class="hover-text">
                                <h4>Project Title</h4>
                                Web Design
                                <div class="clearfix"></div>
                                <i class="fa fa-plus"></i> </div>
                            <img src="img/portfolio/03.jpg" class="img-responsive" alt="Project Title"> </a> </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3 col-lg-3 web">
                    <div class="portfolio-item wow fadeInUp" data-wow-delay="800ms">
                        <div class="hover-bg"> <a href="#portfolioModal4" class="portfolio-link" data-toggle="modal">
                            <div class="hover-text">
                                <h4>Project Title</h4>
                                Web Design
                                <div class="clearfix"></div>
                                <i class="fa fa-plus"></i> </div>
                            <img src="img/portfolio/04.jpg" class="img-responsive" alt="Project Title"> </a> </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3 col-lg-3 app">
                    <div class="portfolio-item wow fadeInUp" data-wow-delay="1000ms">
                        <div class="hover-bg"> <a href="#portfolioModal5" class="portfolio-link" data-toggle="modal">
                            <div class="hover-text">
                                <h4>Project Title</h4>
                                App Development
                                <div class="clearfix"></div>
                                <i class="fa fa-plus"></i> </div>
                            <img src="img/portfolio/05.jpg" class="img-responsive" alt="Project Title"> </a> </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3 col-lg-3 branding">
                    <div class="portfolio-item wow fadeInUp" data-wow-delay="1200ms">
                        <div class="hover-bg"> <a href="#portfolioModal6" class="portfolio-link" data-toggle="modal">
                            <div class="hover-text">
                                <h4>Project Title</h4>
                                Branding
                                <div class="clearfix"></div>
                                <i class="fa fa-plus"></i> </div>
                            <img src="img/portfolio/06.jpg" class="img-responsive" alt="Project Title"> </a> </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3 col-lg-3 branding app">
                    <div class="portfolio-item wow fadeInUp" data-wow-delay="1400ms">
                        <div class="hover-bg"> <a href="#portfolioModal7" class="portfolio-link" data-toggle="modal">
                            <div class="hover-text">
                                <h4>Project Title</h4>
                                App Development, Branding
                                <div class="clearfix"></div>
                                <i class="fa fa-plus"></i> </div>
                            <img src="img/portfolio/07.jpg" class="img-responsive" alt="Project Title"> </a> </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3 col-lg-3 web">
                    <div class="portfolio-item wow fadeInUp" data-wow-delay="1600ms">
                        <div class="hover-bg"> <a href="#portfolioModal8" class="portfolio-link" data-toggle="modal">
                            <div class="hover-text">
                                <h4>Project Title</h4>
                                Web Design
                                <div class="clearfix"></div>
                                <i class="fa fa-plus"></i> </div>
                            <img src="img/portfolio/08.jpg" class="img-responsive" alt="Project Title"> </a> </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About Section -->
<div id="about-section">
    <div class="container">
        <div class="section-title text-center wow fadeInDown">
            <h2><strong>About</strong> us</h2>
            <hr>
            <div class="clearfix"></div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed dapibus leo nec ornare diamcommodo nibh ante facilisis.</p>
        </div>
        <div class="row">
            <div class="col-md-6 wow fadeInLeft"> <img src="img/about.png" class="img-responsive"> </div>
            <div class="col-md-6 wow fadeInRight">
                <h4>Who We Are</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed dapibus leo nec ornare diam. Sed commodo nibh ante facilisis bibendum dolor feugiat at. Duis sed dapibus leo nec ornare diam commodo nibh ante facilisis bibendum.</p>
                <div class="space"></div>
                <h4>What We Do</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed dapibus leo nec ornare diam. Sed commodo nibh ante facilisis bibendum dolor feugiat at.</p>
                <div class="space"></div><div class="list-style">
                <div class="row">
                    <div class="col-lg-6 col-sm-6 col-xs-12">
                        <ul>
                            <li>Lorem ipsum dolor</li>
                            <li>Consectetur adipiscing</li>
                            <li>Duis sed dapibus leo</li>
                            <li>Sed commodo nibh ante</li>
                        </ul>
                    </div>
                    <div class="col-lg-6 col-sm-6 col-xs-12">
                        <ul>
                            <li>Lorem ipsum dolor</li>
                            <li>Consectetur adipiscing</li>
                            <li>Duis sed dapibus leo</li>
                            <li>Sed commodo nibh ante</li>
                        </ul>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>
<!-- Team Section -->
<div id="team-section" class="text-center">
    <div class="container">
        <div class="section-title wow fadeInDown">
            <h2>Meet the <strong>Team</strong></h2>
            <hr>
            <div class="clearfix"></div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed dapibus leo nec ornare diamcommodo nibh ante facilisis.</p>
        </div>
        <div id="row">
            <div class="col-md-3 col-sm-6 team wow fadeInUp" data-wow-delay="200ms">
                <div class="thumbnail"> <img src="img/team/01.jpg" alt="..." class="img-circle team-img">
                    <div class="caption">
                        <h3>Jessica Wally</h3>
                        <p>CEO / Founder</p>
                        <ul class="list-inline">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 team wow fadeInUp" data-wow-delay="400ms">
                <div class="thumbnail"> <img src="img/team/02.jpg" alt="..." class="img-circle team-img">
                    <div class="caption">
                        <h3>Mike Sloan</h3>
                        <p>Web Designer</p>
                        <ul class="list-inline">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 team wow fadeInUp" data-wow-delay="600ms">
                <div class="thumbnail"> <img src="img/team/03.jpg" alt="..." class="img-circle team-img">
                    <div class="caption">
                        <h3>Michele Doe</h3>
                        <p>Web Designer</p>
                        <ul class="list-inline">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 team wow fadeInUp" data-wow-delay="800ms">
                <div class="thumbnail"> <img src="img/team/04.jpg" alt="..." class="img-circle team-img">
                    <div class="caption">
                        <h3>Larry Evans</h3>
                        <p>Project Manager</p>
                        <ul class="list-inline">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Testimonials Section -->
<div id="testimonials-section" class="text-center">
    <div class="container">
        <div class="section-title wow fadeInDown">
            <h2>What our <strong>Clients</strong> say</h2>
            <hr>
        </div>
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div id="testimonial" class="owl-carousel owl-theme wow fadeInUp" data-wow-delay="200ms">
                    <div class="item">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed dapibus leo nec ornare diam. Sed commodo nibh ante facilisis bibendum dolor feugiat at duis sed dapibus leo nec ornare diam.</p>
                        <p><strong>John DOE</strong>, CEO, Company.</p>
                    </div>
                    <div class="item">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed dapibus leo nec ornare diam. Sed commodo nibh ante facilisis bibendum dolor feugiat at duis sed dapibus leo nec ornare diam.</p>
                        <p><strong>Jenny DOE</strong>, CEO, Company.</p>
                    </div>
                    <div class="item">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed dapibus leo nec ornare diam. Sed commodo nibh ante facilisis bibendum dolor feugiat at duis sed dapibus leo nec ornare diam.</p>
                        <p><strong>John DOEn</strong>, CEO, Company.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Contact Section -->
<div id="contact-section" class="text-center">
    <div class="container">
        <div class="section-title wow fadeInDown">
            <h2><strong>Contact</strong> us</h2>
            <hr>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed dapibus leo nec ornare diamcommodo nibh ante facilisis.</p>
        </div>
        <div class="col-md-8 col-md-offset-2 wow fadeInUp" data-wow-delay="200ms">
            <div class="col-md-4"> <i class="fa fa-map-marker fa-2x"></i>
                <p>321 Awesome Street<br>
                    New York, NY 17022</p>
            </div>
            <div class="col-md-4"> <i class="fa fa-envelope-o fa-2x"></i>
                <p>info@companyname.com</p>
            </div>
            <div class="col-md-4"> <i class="fa fa-phone fa-2x"></i>
                <p> +1 800 123 1234</p>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="col-md-8 col-md-offset-2 wow fadeInUp" data-wow-delay="400ms">
            <h3>Leave us a message</h3>
            <form name="sentMessage" id="contactForm" novalidate>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <input type="text" id="name" class="form-control" placeholder="Name" required="required">
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <input type="email" id="email" class="form-control" placeholder="Email" required="required">
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <textarea name="message" id="message" class="form-control" rows="4" placeholder="Message" required></textarea>
                    <p class="help-block text-danger"></p>
                </div>
                <div id="success"></div>
                <button type="submit" class="btn btn-default">Send Message</button>
            </form>
            <div class="social">
                <ul>
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                    <li><a href="#"><i class="fa fa-github"></i></a></li>
                    <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

{% include "included/portfolio_modals.html" %}

{% endblock %}

