<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>GDG SSU | GDG 숭실대</title>
    <link rel="stylesheet" href="{{ url_for('static',filename="css/bootstrap.css") }}">

    <!-- Latest compiled and minified CSS -->
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <link rel="stylesheet" href="{{ url_for('static',filename="css/carousel.css") }}">
    <link rel="stylesheet" href="{{ url_for('static',filename="css/gdg-nav.css") }}">



</head>
<body>
{% block layout %}
{% endblock %}



<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

<script src="{{ url_for('static', filename="js/bootstrap.js") }}"></script>
<script src="{{ url_for('static', filename="js/catcher.js") }}"></script>

<!-- Just to make our placeholder images work. Don't actually copy the next line! -->
<script src="{{ url_for('static', filename='js/holder.min.js') }}"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="{{ url_for('static',filename='js/ie10-viewport-bug-workaround.js') }}"></script>



<svg xmlns="http://www.w3.org/2000/svg" width="500" height="500" viewBox="0 0 500 500" preserveAspectRatio="none" style="display: none; visibility: hidden; position: absolute; top: -100%; left: -100%;"><defs><style type="text/css"></style></defs><text x="0" y="25" style="font-weight:bold;font-size:25pt;font-family:Arial, Helvetica, Open Sans, sans-serif">500x500</text></svg>

</body>
</html>
